@CHARSET "ISO-8859-1";

body {
    width: 70%;	
}

section {
    width: 100%;	
}

table {
  /*border: 1px solid red;*/
  float: left;
  padding: 2px;
  margin: 20px;
  width: 55%;
  font-size: 13px;
  font-weight: normal;
  color: black;
}

td, th {
    padding: 5px;
    text-align: left;
    border-radius: 5px; 
    /*border-bottom: 1px solid #ddd;*/
}

th {
    background-color: #057BFF;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2}

.action {
	background-color: white;
}

input[type=button], input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

form {
  /*border: 1px solid red;*/
  float: left;
  padding: 2px;
  margin: 20px;
  width: 55%;
  font-size: 13px;
  font-weight: normal;
  color: black;
}

#street1, #street2, #city {
    width: 90%;
    align: left;
    float: left;
}

section {
    width: 80%;
	align: left;
	float: left;
}

header {
  float: left;
  padding: 2px;
  margin-top: 20px;
  margin-left: 140px;
  width: 80%;
  font-size: 13px;
  font-weight: normal;
  color: black;
}

.message{
	display: block;
	width: 99%;
 	background-color: #057BFF;
 	color: white;
 	padding-left: 5px;
}