        <div ng-controller="DeleteController as deleteC">
            <table>
              <thead>
                <tr>
                    <th>delete</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="person in deleteC.allUsers">
                    <td class="action"><input type="checkbox" ng-click="deleteC.checkDelete(person.person_id)" /></td>
                    <td>{{ person.f_name }} {{ person.l_name }}</td>
                    <td>{{ person.email_addr }}</td>
                </tr>
                <tr>
                    <td colspan=7><label class="message">{{ deleteC.deleteResponse }}</td>
                </tr>
                <tr>
                    <td colspan=7 class="action"><input type="button" ng-click="deleteC.deleteItems()" value="Delete selected"/></td>
                </tr>
              </tbody>
            </table>
        </div>