        <div ng-controller="ReadController as readC">
            <table>
              <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th ng-hide="readC.bgcolor=='white'"  ng-show="readC.bgcolor=='#ACD4FC'">Address</th>
                    <th ng-hide="readC.bgcolor=='white'"  ng-show="readC.bgcolor=='#ACD4FC'">Phone</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-style="myStyle" ng-repeat="person in readC.allUsers" ng-click="readC.bgColor(); myStyle={'background-color':readC.bgcolor}; readC.expand(person.person_id);">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ person.f_name }} {{ person.l_name }}</td>
                    <td>{{ person.email_addr }}</td>
                    <td ng-hide="readC.bgcolor=='white'"  ng-show="readC.bgcolor=='#ACD4FC'">{{ readC.oneUser.addrDTO.street1 }}</td>
                    <td ng-hide="readC.bgcolor=='white'"  ng-show="readC.bgcolor=='#ACD4FC'">{{ readC.oneUser.phoneDTO.phone_number }}</td>
                </tr>
              </tbody>
            </table>
        </div>