
        <div ng-controller="UpdateListController as updateListC">
            <table>
              <thead>
                <tr>
                    <th>update</th>
                    <th>Street 1</th>
                    <th>Street 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <td>address_id</td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="n in updateListC.userData">
                    <td class="action"><input type="radio" name="update" ng-click="updateListC.setUpdateId(n.address_id)"/></td>
                    <td>{{ n.street1 }}</td> 
                    <td>{{ n.street2 }}</td>
                    <td>{{ n.city }}</td>
                    <td>{{ n.state }}</td>
                    <td>{{ n.zip }}</td>
                    <td>{{ n.address_id }}</td>
                </tr>
                <tr>
                    <td colspan=7 class="action">
	                    <form>
	                       <input class="button" type="submit" ng-click="updateListC.loadNewTemplate()" value="Update selected"/>
	                    </form>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
