
        <div ng-controller="UpdateListController as updateListC">
            <table>
              <thead>
                <tr>
                    <th>update</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="person in updateListC.allUsers">
                    <td class="action"><input type="radio" name="update" ng-click="updateListC.setUpdateId(person.person_id)"/></td>
                    <td>{{ person.f_name }} {{ person.l_name }}</td>
                    <td>{{ person.email_addr }}</td>
                </tr>
                <tr>
                    <td colspan=7 class="action">
                        <form>
                           <input class="" type="submit" ng-click="updateListC.loadNewTemplate()" value="Update"/>
                        </form>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
