
        <div>
            <form ng-controller="UpdateRecordController as updateRecordC" novalidate="novalidate" >
		        <label>Please update your information below.
		        </label>
		        <label class="message">{{ updateRecordC.updateResponse }}
                </label>
		        
		        <fieldset id="Address" name="Address">
		            <label><strong>Address</strong></label><br />
		
		            <fieldset class="">
		                <label for="street1">(street 1)</label><br />
		                <input type="text" ng-model="updateRecordC.userData.street1" name="street1" id="street1" />
		            </fieldset>
		            
		            <fieldset class="">
		                <label for="street2">(street 2)</label><br />
		                <input type="text" ng-model="updateRecordC.userData.street2" name="street2" id="street2" />
		            </fieldset>
		            
		            <fieldset class="">
		                <label for="city">(city) </label><br />
		                <input type="text" ng-model="updateRecordC.userData.city" name="city" id="city" />
		            </fieldset>
		            
		            <fieldset class="">
                        <label for="state">(state) </label><br />
                        <select name="state" id="state" ng-model="state"  ng-controller="StateController as stateC" >
                          <!--option ng-repeat="option in stateC.stateList" value="{{option.id}}" ng-selected=stateC.stateCtrlVal(option.abbr)>{{option.abbr}}</option-->
                          <option ng-repeat="option in stateC.stateList" value="{{option.id}}" ng-if="option.id!=updateRecordC.userData.state" ng-selected=false>{{option.abbr}}</option>
                          <option ng-repeat="option in stateC.stateList" value="{{option.id}}" ng-if="option.id==updateRecordC.userData.state" ng-selected=true>{{option.abbr}}</option>
                        </select>
                    </fieldset>
		            
		            <fieldset class="">
		                <label for="zip">(zip)</label><br />
		                <input type="text" ng-model="updateRecordC.userData.zip" name="zip" id="zip" size="10" />
		            </fieldset>
	           </fieldset>
	           
	           <fieldset class="action">
		            <input class="button" type="button" ng-click="updateRecordC.loadNewTemplate()" value="Cancel" />
                    <input class="button" type="button" ng-click="updateRecordC.update(updateRecordC.userData)" value="Update" />
		       </fieldset>
		            
		  </form>

        </div>
